@{
    

}
<section class=" mt-5 pt-5" id="s1">
    <div class="container-fluid px-3">
        <div>
            <h2 class="text-center mb-5 text-red fw-bold"> Compare Chart </h2>
        </div>
        <div class="row mb-5 ">
            <div class="  col-lg-3 col-md-3 col-sm-4 col ">
            </div>
            <div class="  col-lg-3 col-md-3 col-sm-4 col ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    @if (ViewBag.n > 0)
                    {
                        <a href="/home/Remove/?id=0&View=Index&list=Comparelist" class="text-decoration-none text-black pointer d-block ">
                            <i class="fas fa-times crossmargin fs-4"></i>
                        </a>
                        <img class="img-fluid  allproductimg  " id="deta" src="@ViewBag.mobile[0].product_images.image" alt="">
                    }
                    else
                    {
                        <a asp-controller="" asp-action="" class="mt-4"><i class="fas fa-search-plus text-red searchproduct"></i> </a>
                        <form asp-action="ProductsList" class="d-flex  mx-2 mt-4">
                            <input type="search" name="searchStr" placeholder="Search products" class="form-control radius shadow-none comparesearch "
                                   aria-label="Search">
                            <button type="submit" class="btn btn-link searchcolor bg-red text-white radius shadow-none snone">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <a class="btn btn-danger redbtn bg-red col-8 m-2 fontsize11 shadow-none">
                            ADD TO
                            COMPARE
                        </a>
                    }
                </div>
            </div>

            <div class="  col-lg-3 col-md-3 col-sm-4 col ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    @if (ViewBag.n > 1)
                    {
                        <a href="/home/Remove/?id=1&View=CompareChart&list=Comparelist" class="text-decoration-none text-black pointer d-block ">
                            <i class="fas fa-times crossmargin fs-4"></i>
                        </a>
                        <img class="img-fluid  allproductimg  " id="deta" src="@ViewBag.mobile[1].product_images.image" alt="">
                    }
                    else
                    {
                        <a asp-controller="" asp-action="" class="mt-4"><i class="fas fa-search-plus text-red searchproduct"></i> </a>
                        <form asp-action="ProductsList" class="d-flex  mx-2 mt-4">
                            <input type="search" name="searchStr" placeholder="Search products" class="form-control radius shadow-none comparesearch "
                                   aria-label="Search">
                            <submit type="submit" class="btn btn-link searchcolor bg-red text-white radius shadow-none snone">
                                <i class="fas fa-search"></i>
                            </submit>
                        </form>
                        <a class="btn btn-danger redbtn bg-red col-8 m-2 fontsize11 shadow-none">
                            ADD TO
                            COMPARE
                        </a>
                    }
                </div>
            </div>

            <div class=" col-lg-3 col-md-3  comparehide">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    @if (ViewBag.n > 2)
                    {
                        <a href="/home/Remove/?id=3&View=CompareChart&list=Comparelist" class="text-decoration-none text-black pointer d-block position-absolute top-0 emd-0 pe-3 pt-3 ">
                            <i class="fas fa-times crossmargin fs-4"></i>
                        </a>
                        <img class="img-fluid  allproductimg  " id="deta" src="@ViewBag.mobile[2].product_images.image" alt="">
                    }
                    else
                    {
                        <a asp-controller="" asp-action="" class="mt-4"><i class="fas fa-search-plus text-red searchproduct"></i> </a>
                        <form asp-action="ProductsList" class="d-flex  mx-2 mt-4">
                            <input name="searchStr" type="search" placeholder="Search products" class="form-control radius shadow-none comparesearch "
                                   aria-label="Search">
                            <button type="submit" class="btn btn-link searchcolor bg-red text-white radius shadow-none snone">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <a class="btn btn-danger redbtn bg-red col-8 m-2 fontsize11 shadow-none">
                            ADD TO
                            COMPARE
                        </a>
                    }
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 comparehide ">
        <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
            <a href="" class="mt-4"><i class="fas fa-search-plus text-red searchproduct"></i> </a>
            <form class="d-flex  mx-2 mt-4">
                <input type="search" placeholder="Search products" class="form-control radius shadow-none comparesearch "
                  aria-label="Search">
                  <a type="submit" class="btn btn-link searchcolor bg-red text-white radius shadow-none" href="#"> <i
                      class="fas fa-search"></i></a>
              </form>
            <a class="btn btn-danger redbtn bg-red col-8 m-2 shadow-none" href="#">ADD TO
                COMPARE </a>
        </div>
    </div> -->
        </div>
                    </div>

</section>
<section id="s2 " class="container-fluid px-3 ">
    <div class="row bg-light d-flex align-items-center  ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Name</span>
        </div>
       
         <div class="col-lg-3 col-md-3 col-sm-4 col">
                @if (ViewBag.n>0)
                {
                    <span class="fontsize12">@ViewBag.mobile[0].name</span>
                }
                else
                {
                    <span class="fontsize12"></span>
                }
        </div>
       
         <div class="col-lg-3 col-md-3 col-sm-4 col">
             @if (ViewBag.n>1)
             {
                 <span class="fontsize12">@ViewBag.mobile[1].name</span>
             }
             else
             {
                 <span class="fontsize12"></span>
             }
         </div>
        
         <div class=" col-lg-3 col-md-3  comparehide">
             @if (ViewBag.n >2)
             {
                 <span class="fontsize12">@ViewBag.mobile[2].name</span>
             }
             else
             {
                 <span class="fontsize12"></span>
             }
         </div>
        
           
    </div>
    <div class="row  d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col ">
            <span class="fs-6 fontsize12">Price</span>
        </div>
        @if (ViewBag.n >0)
        {
            <div class="col-lg-3 col-md-3 col-sm-4 col">
                <span class="fontsize12">Rs @ViewBag.mobile[0].price</span>
            </div>
        }
        else
        {
            <span class="fontsize12"></span>
        }

        @if (ViewBag.n >1)
        {
            <div class="col-lg-3 col-md-3 col-sm-4 col">
                <span class="fontsize12">Rs @ViewBag.mobile[1].price</span>
            </div>
        }
        else
        {
            <span class="fontsize12"></span>
        }

        @if (ViewBag.n >2)
        {
            <div class="col-lg-3 col-md-3 comparehide">
                <span class="fontsize12">Rs @ViewBag.mobile[2].price</span>
            </div>
        }
        else
        {
            <span class="fontsize12"></span>
        }

       
    </div>
    <div class="row  bg-red d-flex align-items-center ">
        <div class="col">
            <span class="fs-4 fontsize7 text-white ">GENERAL</span>
        </div>
    </div>
    <div class="row  d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Network</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">5G</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>

    </div>
    <div class="row  bg-light d-flex align-items-center  ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> SIM Type </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Nano SIM</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row  d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Dual SIM</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row bg-light d-flex align-items-center  ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Touch Screen</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row  d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">FingerPrint Unlock</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row bg-light d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Face Lock</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row bg-red  d-flex align-items-center">
        <div class="col">
            <span class="text-white fontsize7 fs-4">DISPLAY</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Screen Size </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"> 6.43 inch </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Screen Resolution</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">1080 x 2400 pixels</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row  d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Display Type</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Super AMOLED</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row bg-red d-flex align-items-center">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">MEMORY</span>
        </div>
    </div>
    <div class="row d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Internal Memory </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">128 GB</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> External Memory</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">RAM</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">8GB</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">CAMERA</span>
        </div>
    </div>
    <div class="row d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Rear Camera</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">64 MP</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Rear Camera Flash</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center ">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Front Camera</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">32 MP</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Front Camera Flash</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">VIDEO RECORDING</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Rear Camera Video Quality</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">2160 p</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">CONNECTIVITY</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Wifi</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Radio</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">No</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Infrared</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">GPRS</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> EDGE</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> NFC</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> USB</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Bluetooth Version</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">5.0 With A2DP</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">OS</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> OS </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Android</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> OS Version </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"> Android 11 </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">PROCESSOR</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Processor Type</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Octa Core</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Processor Speed</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">2.4 Ghz</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Chipset Group</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"> Qualcomm </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Chipset Details</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"> Snapdragon 778G 5G</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">BATTERY</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Battery Type</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Li-Po</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Battery Capacity</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">4300 mAh </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Stand By Time</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Talk Time</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">SOUND</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">3.5mm Jack</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Loudspeaker</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">Yes</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-red">
        <div class="col">
            <span class="fs-4 fontsize7 text-white">BODY </span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Height</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">159.2 mm</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12"> Width</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">73.5 mm</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Thickness </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">8.0 mm</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Weight</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">180 g</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
    <div class="row d-flex align-items-center bg-light">
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fs-6 fontsize12">Type</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12">NA</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col">
            <span class="fontsize12"></span>
        </div>
        <div class="col-lg-3 col-md-3 comparehide">
            <span class="fontsize12"></span>
        </div>
    </div>
</section>