@{ 
    String  vendor = "flipkart", order = "-price" ,searchStr = null,availability = null;
    int pageSize = 4,pageNum = 1, fVendor = 1,fBrand = -1,pstart = 0, pend = 90000000;

    int i, j,k,l,n1,n2;
    i = j =k= l=0;
    if (ViewBag.mobiles[0] != null) { n1 = ViewBag.mobiles[0].results.Count; }
    else n1 = -1;

    if (ViewBag.mobiles[1] != null) { n2 = ViewBag.mobiles[1].results.Count; }
    else n2 = -1;


}

<partial name="_NavBar2Partial" />
<section class=" pb-3   border-bottom container-fluid" id="sec1">
    <div class="row mt-5  pt-5 f-hide">
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col ">
            <h4 class="fw-bold ">FILTERS</h4>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-4 col-md-4 col">
            <h4 class="fw-bold ">MOBILE PHONES</h4>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-4 col  ">
            <!-- <div class="dropdown  ">
      <a class="btn btn-light dropdown-toggle shadow-none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By : Popularity
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item p-2" href="#">Price - low to high</a></li>
        <li><a class="dropdown-item p-2" href="#">Price - high to low</a></li>
        <li><a class="dropdown-item p-2" href="#">Customer Rating</a></li>
      </ul>
    </div> -->
            <!--<form asp-action="SortProducts">
        <select asp-for="@order" class="form-select shadow-none ms-auto  clickbox  " aria-label="Default select example">
            <option value="1"> Sort By : Popularity</option>-->
            @*<option value="2" class="">@Html.ActionLink("Sort By : Price - low to high", "SortProducts", new { Str = "price" })</option>*@
            <!--<option value="price" type="submit" class="">Sort By : Price - low to high</option>
    <option value="-price" type="submit" selected class="">Sort By : Price - high to low</option>-->
            <!-- <option value="3" class="">Sort By : Customer Rating</option> -->
            <!--</select>
        <input type="submit" />
    </form>-->


            <select onchange="window.location.href=this.value;" class="form-select shadow-none ms-auto  clickbox  " aria-label="Default select example">
                <option value="/Home/ProductsList/"> Sort By : </option>
                @*<option value="2" class="">@Html.ActionLink("Sort By : Price - low to high", "SortProducts", new { Str = "price" })</option>*@
               
                    <option value="/Home/ProductsList/?order=price" type="submit" class="">Sort By : Price - low to high</option>

               
                    <option value="/Home/ProductsList/?order=-price" type="submit">Sort By : Price - high to low</option>
               
                    <!--<option value="3" class="">Sort By : Customer Rating</option> -->
                </select>
                   

            </div>

        </div>
        <div class="row  mt-5  pt-4 f-show">
            <div class="col-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn col-12  shadow-none fs-4 fontsize12 " data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <i class="fa-solid fa-filter  "></i> FILTERS
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header row">
                                <!-- <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <!-- <div class="row "> -->
                                <div class="col-9">
                                    <h3 class="modal-title fw-bold text-black" id="exampleModalLabel1">Filters</h3>
                                </div>
                                <div class="col-3">
                                    <a class="text-decoration-none text-red" id="">Clear All</a>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="modal-body">
                                <div class="   ">
                                    <h4 class="fw-bold ms-2 text-red">PRICE</h4>
                                    <ul class="">
                                        <li class="form-check ">
                                            <input class="form-check-input shadow-none " type="checkbox" value="" id="">
                                            <label class="form-check-label innerdropdownitem " for="">
                                                Under Rs 5,000
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                                            <label class="form-check-label  innerdropdownitem " for="">
                                                Rs 5,000 to Rs 10,000
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label innerdropdownitem    " for="">
                                                Rs 10,000 to Rs 15,000
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label innerdropdownitem  " for="">
                                                Rs 15,000 to Rs 20,000
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label innerdropdownitem  " for="">
                                                Under Rs 20,000
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label  innerdropdownitem   " for="">
                                                Above Rs 20,000
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="">
                                    <h4 class="   fw-bold  ms-2 text-red">BRAND</h4>
                                    <div class="my-3">
                                        <input class="form-control form-control-sm shadow-none clickbox " type="text" placeholder="Search Brand"
                                               aria-label=".form-control-sm example">
                                    </div>
                                    <ul class="">
                                        @foreach (var item in ViewBag.brands)
                                        {
                                            <li class="form-check ">
                                                <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                                                <label class="form-check-label innerdropdownitem  " for="">
                                                   @item.name
                                                </label>
                                            </li>
                                        }
                                          
                                        </ul>
                                </div>
                                <!-- <div class=" ">
                          <h4 class="   fw-bold  ms-2 text-red "> RATINGS</h4>
                          <ul class="">
                            <li class="form-check ">
                              <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                              <label class="form-check-label   innerdropdownitem" for="">
                                5 Star Reviews
                              </label>
                            </li>
                            <li class="form-check">
                              <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                              <label class="form-check-label   innerdropdownitem" for="">
                                4 Star Reviews
                              </label>
                            </li>
                            <li class="form-check">
                              <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                              <label class="form-check-label  innerdropdownitem" for="">
                                3 Star Reviews
                              </label>
                            </li>
                            <li class="form-check">
                              <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                              <label class="form-check-label  innerdropdownitem" for="">
                                2 Star Reviews
                              </label>
                            </li>
                            <li class="form-check">
                              <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                              <label class="form-check-label   innerdropdownitem" for="">
                                1 Star Reviews
                              </label>
                            </li>

                          </ul>
                        </div> -->
                                <div class=" ">
                                    <h4 class="   fw-bold  ms-2 text-red ">AVAILABILITY</h4>
                                    <ul class="">
                                        <li class="form-check ">
                                            <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label    innerdropdownitem" for="">
                                                Include Out of Stock
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                                            <label class="form-check-label  innerdropdownitem" for="">
                                                Exclude Upcoming
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label   innerdropdownitem" for="">
                                                Upcoming
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="   ">
                                    <h4 class="   fw-bold text-red ms-2 ">VENDORS</h4>
                                    <ul class="">
                                        <li class="form-check ">
                                            <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                                            <label class="form-check-label   innerdropdownitem" for="">
                                                Amazon
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                                            <label class="form-check-label   innerdropdownitem" for="">
                                                Flipkart
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn btn-danger redbtn bg-red">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-6 f-show">
            <!-- Button trigger modal -->
            <button type="button" class="btn  col-12 shadow-none fs-4 fontsize12 " data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <i class="fa-solid fa-arrow-down-short-wide "></i> SORT BY
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold text-black" id="exampleModalLabel2">Sort By</h5>
                            <button class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="SortProducts" >
                        <div class="modal-body">
                            <!-- <select class="form-select shadow-none ms-auto  clickbox  " aria-label="Default select example">
                              <option selected> Sort By : Popularity</option>
                              <option value="1" class="dropdownbg">Sort By : Price - low to high</option>
                              <option value="2" class="">Sort By : Price - high to low</option>
                              <option value="3" class="">Sort By : Customer Rating</option>
                            </select> -->
                            @*<div class="form-check">
                                <input class="form-check-input shadow-none  " type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
                                <label class="form-check-label innerdropdownitem " for="flexRadioDefault1">
                                    Popularity
                                </label>
                            </div>*@
                            
                            <div class="form-check">
                                <input  asp-for="@order" value="price" class="form-check-input shadow-none " type="radio"  id="flexRadioDefault2" >
                                <label class="form-check-label innerdropdownitem " for="flexRadioDefault2">
                                    Price - low to high
                                </label>
                            </div>
                            <div class="form-check">
                                <input asp-for="@order" value="-price" class="form-check-input shadow-none" type="radio" name="Str" id="flexRadioDefault3">
                                <label class="form-check-label innerdropdownitem " for="flexRadioDefault3">
                                    Price - high to low
                                </label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="submit"  href="/home/ProductsList/?order=@order" name="Str" class="btn btn btn-danger redbtn bg-red">Apply</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="container-fluid">
    <div class="row ">
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col f-hide border-end  ">
            <div class="  border-bottom ">
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="fw-bold ms-2 text-red">PRICE</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                    </div>
                </div>
                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none " type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem " for="">
                            Under Rs 5,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            Rs 5,000 to Rs 10,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem    " for="">
                            Rs 10,000 to Rs 15,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem  " for="">
                            Rs 15,000 to Rs 20,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem  " for="">
                            Under Rs 20,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem   " for="">
                            Above Rs 20,000
                        </label>
                    </li>
                </ul>
            </div>
            <div class="  border-bottom">
                <div class="my-3">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="   fw-bold  ms-2 text-red">BRAND</h5>
                        </div>
                        <div class="col-4">
                            <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                        </div>
                    </div>
                    <!-- <span class="fw-bold fs-6 ms-2 ">BRAND</span>
                    <span class=""> <a href="" class=" text-decoration-none ms-5 fs-6"> Clear </a></span> -->
                    <input class="form-control form-control-sm shadow-none clickbox " type="text" placeholder="Search Brand"
                           aria-label=".form-control-sm example">
                </div>
                <ul >
                    @foreach (var item in ViewBag.brands)
                    {
                        <li class="form-check ">
                            <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                            <label class="form-check-label innerdropdownitem  " for="">
                               @item.name
                            </label>
                        </li>
                    }
                      
                      

                    </ul>
            </div>
            <!-- <div class="  border-bottom ">

              <div class="row my-3">
                <div class="col-8">
                  <h5 class="   fw-bold  ms-2 text-red "> RATINGS</h5>
                </div>
                <div class="col-4">
                  <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                </div>
              </div>
              <ul class="">
                <li class="form-check ">
                  <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                  <label class="form-check-label   innerdropdownitem" for="">
                    5 Star Reviews
                  </label>
                </li>
                <li class="form-check">
                  <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                  <label class="form-check-label   innerdropdownitem" for="">
                    4 Star Reviews
                  </label>
                </li>
                <li class="form-check">
                  <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                  <label class="form-check-label  innerdropdownitem" for="">
                    3 Star Reviews
                  </label>
                </li>
                <li class="form-check">
                  <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                  <label class="form-check-label  innerdropdownitem" for="">
                    2 Star Reviews
                  </label>
                </li>
                <li class="form-check">
                  <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                  <label class="form-check-label   innerdropdownitem" for="">
                    1 Star Reviews
                  </label>
                </li>

              </ul>
            </div> -->
            <div class="  border-bottom ">
                <!-- <div class="my-3">
                  <span class="fw-bold fs-6 ms-2 ">AVAILABILITY</span>
                  <span class=""> <a href="" class=" text-decoration-none fs-6 ms-3 "> Clear  </a></span>
                </div> -->
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="   fw-bold  ms-2 text-red ">AVAILABILITY</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                    </div>
                </div>

                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label    innerdropdownitem" for="">
                            Include Out of Stock
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Exclude Upcoming
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Upcoming
                        </label>
                    </li>
                </ul>
            </div>
            <div class=" border-bottom  ">
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="   fw-bold text-red ms-2 ">VENDORS</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none  text-lightred fs-6"> Clear</a>
                    </div>
                </div>
                <!-- <div class="my-3">
                  <span class="fw-bold fs-6 ms-2 ">Vendors</span>
                  <span class=""> <a href="" class=" text-decoration-none fs-6 ms-5 "> Clear  </a></span>
                </div> -->
                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Amazon
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Flipkart
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-8 col">
            <div class="row mx-3 mt-5">
                @while (i < n1 && j < n2)
                {
                    if (order == "-price")
                    {
                        if (ViewBag.mobiles[0].results[i].price >= ViewBag.mobiles[1].results[j].price)
                        {
                            k = i; l = 0; i++;
                            Console.WriteLine(k);


                        }

                        else
                        {
                            k = j; l = 1; j++;

                        }
                    }
                    else if (order =="price")
                    {
                        if (ViewBag.mobiles[0].results[i].price <= ViewBag.mobiles[1].results[j].price)
                        {
                            k = i; l = 0; i++;
                            Console.WriteLine(k);


                        }

                        else
                        {
                            k = j; l = 1; j++;

                        }
                    }
                    <div class=" col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col ">
                        <div class="card my-1">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="@ViewBag.mobiles[l].results[k].product_images.image" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)" href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=ProductsList&list=Wishlist">
                                <i  class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                @*@{
                            var nameStr = item.name.Split(" ");

                        }*@
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">@ViewBag.mobiles[l].results[k].name</a>
                                @*<a class=" text-decoration-none text-dark fw-bold fs-4" href="">@nameStr[1]</a>*@
                                <h6 class=" text-decoration-none text-red fw-bold ">Rs @ViewBag.mobiles[l].results[k].price</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=CompareChart&list=Comparelist" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                @*<a onclick="location.href='@Url.Action("ProductDetails","Home", new  { vendor= item.vendor.name, id=item.id})'" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>*@
                                @*@using (Html.BeginForm("index", "Home"))
                        {*@
                                <a href="/home/ProductDetails/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>

                    </div>


                }

                @while (i < n1)
                {
                    l = 0; k = i; i++;

                    <div class=" col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col ">
                        <div class="card my-1">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="@ViewBag.mobiles[l].results[k].product_images.image" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)" href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=WishList&list=Wishlist">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">

                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">@ViewBag.mobiles[l].results[k].name</a>

                                <h6 class=" text-decoration-none text-red fw-bold ">Rs @ViewBag.mobiles[l].results[k].price</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=CompareChart&list=Comparelist" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>

                                <a href="/home/ProductDetails/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>

                    </div>

                }
                @while (j < n2)
                {
                    l = 1; k = j; j++;

                    <div class=" col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col ">
                        <div class="card my-1">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="@ViewBag.mobiles[l].results[k].product_images.image" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)" href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=WishList&list=Wishlist">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">

                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">@ViewBag.mobiles[l].results[k].name</a>

                                <h6 class=" text-decoration-none text-red fw-bold ">Rs @ViewBag.mobiles[l].results[k].price</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="/home/AddItem/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id&View=CompareChart&list=Comparelist" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>

                                <a href="/home/ProductDetails/?vendor=@ViewBag.mobiles[l].results[k].vendor.name&id=@ViewBag.mobiles[l].results[k].id" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>

                    </div>
                }



            </div>
           
        </div>
    </div>

</section>
<nav aria-label="Page navigation example" class="my-4">
    <ul class="pagination justify-content-center ">
        <li class="page-item disabled ">
            <a class="page-link shadow-none disabled text-red bg-transparent " href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active "><a class="page-link shadow-none text-red bg-transparent " href="#">1</a></li>
        <li class="page-item"><a class="page-link shadow-none text-red bg-transparent" href="#">2</a></li>
        <li class="page-item"><a class="page-link shadow-none text-red bg-transparent" href="#">3</a></li>
        <li class="page-item ">
            <a class="page-link shadow-none text-red bg-transparent" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
